@import "../../helpersSCSS/Container";

.footer {
  background-color: #3a3e64;

  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;

    .footer__block {
      width: 33.33333%;
      text-align: center;
      padding: 0 15px;

      .footer__address {
        color: rgba(255,255,255, 0.5);
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.5px;
      }

      .footer__text {
        color: rgba(255,255,255, 0.5);
        font-size: 14px;
        font-weight: 400;
        line-height: 22.5px;
      }

      .footer__title {
        margin-bottom: 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    @extend .container
  }

  .copyright {
    padding: 20px 0;
    background-color: #313454;

    .copyright__text {
      color: #808080;
      font-size: 14px;
      font-weight: 400;
      line-height: 22.5px;
      text-align: center;
      position: relative;

      .copyright__text span {
        color: #fff;
        padding-left: 2px;
      }

      @extend .container
    }
  }
}

@media (max-width: 767px) {
  .footer .footer__inner {
    padding: 30px 0;


    & .footer__block {
      width: 100%;
      margin-bottom: 30px;
      padding-left: 0;
      padding-right: 0;


      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}







